
<mat-toolbar>
  <h6>Retailers</h6>
  <button mat-raised-button color="primary" (click)="addRetailer()">Add Retailer</button>
</mat-toolbar>

 <mat-selection-list #_retailers>
  <mat-list-option *ngFor="let retailer of retailers">
    {{retailer.name}}
  </mat-list-option>
</mat-selection-list>

<p>
  Options selected: {{_retailers.selectedOptions.selected.length}}
</p>


