<div>
  <mat-card>
    <mat-card-title><h6>New Retailer</h6></mat-card-title>
    <mat-card-content>
      <form [formGroup]="retailersForm">
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Retailers Name" />
        </mat-form-field>

          <mat-form-field>
          <input
            matInput
            formControlName="contactNumber"
            placeholder="Contact number"
          />
        </mat-form-field>

        <mat-form-field>
            <input
              matInput
              formControlName="emailAddress"
              placeholder="Email Address"
            />
          </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="website" placeholder="Website" />
        </mat-form-field>

       <mat-form-field>
          <input
            matInput
            formControlName="representative"
            placeholder="Representative"
          />
        </mat-form-field>

         <mat-form-field>
          <input
            matInput
            formControlName="headOfficeAddress"
            placeholder="Address"
          />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="retailersForm.invalid" mat-raised-button color="primary"  (click)="saveRetailer()">Save</button>
    </mat-card-actions>
  </mat-card>
</div>
