<mat-card class="login-form centered" fxLayout="column" fxLayoutAlign="center center">
  <mat-card-content>
    <form [formGroup]="loginForm" class="my-form" fxLayout="column">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input  formControlName="username" matInput placeholder="Email" name="email" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input   formControlName="password" matInput placeholder="Password" name="password" />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <mat-error *ngIf="loginError">
      {{loginError}}
    </mat-error>
    <button [disabled]="loginForm.invalid" mat-raised-button color="primary" (click)="login()">LOGIN</button>
  </mat-card-actions>
</mat-card>
