<div style="width: 100px; height: 100px; border: 1px solid white;  color: whitesmoke; 
display: flex; flex-direction: column; justify-content: center; font-weight: 600; 
text-align: center; border-radius: 50%; box-shadow: 1px 1px 3px rgb(73, 240, 240)"
 [ngStyle]="{'background-color': type ==='info'? '#2cc3c9':'#e46464'}"
>
  <span>{{value}}</span>
</div>
