<div class="main">
  <mat-toolbar>
    <h6>Expenses</h6>
    <button mat-raised-button color="primary" (click)="newExpense()">Add Expense</button>
  </mat-toolbar>
  <!-- <mat-card class="main" *ngIf="!onModalView">
      
        <mat-card-content> -->
  <!-- <mat-nav-list #_expenses>
      
            <mat-list-item *ngFor="let expense of expenses">
              <div class="expense-list-item">
                <div class="expense-list-item-body">
                  <span> {{expense.name}}</span>
                  <div style="display: flex;flex-direction: row; ">
                    <span>{{ expense.amount | currency: 'R'}}</span>
                    <mat-icon (click)="markForAction(expense.id)" [matMenuTriggerFor]="expenseActions">more_vert
                    </mat-icon>
                  </div>
                </div>
                <div class="expense-list-item-footer">
                   <span>{{ expense.description}}</span>
                </div>
              </div>
            </mat-list-item>
          </mat-nav-list> -->
  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount | currency: 'R'}}
          <!-- <mat-icon (click)="markForAction(element.id)" [matMenuTriggerFor]="expenseActions">more_vert
          </mat-icon> -->
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon (click)="markForAction(element.id)" [matMenuTriggerFor]="expenseActions">more_vert
          </mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
    </table>
  </div>
  <div>
    TOTAL {{getTotalExpenses() | currency :'R' }}
  </div>

  <mat-menu #expenseActions="matMenu" overlapTrigger="false">
    <mat-action-list>
      <button mat-list-item (click)="openEditWindow()"> Edit </button>
      <button mat-list-item (click)="deleteExpense()"> Delete </button>
    </mat-action-list>
  </mat-menu>

</div>
