.main {
    height: 100vh;

}

.table-wrapper {
    max-height: 80vh;
    overflow: auto;
}

.expense-list-item {
    width: 100%;
}

.expense-list-item div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.expense-list-item-footer {
    width: 95%;
    font-size: xx-small;
}

table.mat-table{
    width: 100%;
}

