<mat-card class="centered">
  <mat-card-content>

    <mat-selection-list #cartSelection>
      <mat-list-option *ngFor="let item of  cartItems" >
        {{item.name}}
       </mat-list-option>

    </mat-selection-list>

    Options selected: {{cartSelection.selectedOptions.selected.length}}
  </mat-card-content>
</mat-card>
