
    <mat-card (click)="openDialog(item)">
        <mat-card-header>
          <!-- <mat-card-title>{{item.name}}</mat-card-title> -->
          <mat-card-subtitle>{{item.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content  fxLayout="row" fxLayoutAlign="space-around center" >
          <span class="price">R{{item.price}}</span>
             <img [src]="item.picture">
          </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-raised-button color="primary">Like</button>
          <button mat-raised-button color="accent">Share</button>
          <button mat-raised-button color="warn">Subscribe</button>
        </mat-card-actions> -->
        <mat-card-footer>
          <span>{{item.vendor.name}}</span>
        </mat-card-footer>
      </mat-card>

