


img{
  width: 70px;
  height: 70px;
}
.price{
  font-weight: bold;
  font-size: 12pt;
}

.mat-card{
  margin: 1px;
  font-size: 10px;
  width: 130px;
  transition: all 1s ease;
}

.mat-card:hover{
  background-color: rgb(61, 100, 77);
}
