 <mat-card>
   <mat-toolbar>
     <h6>Financial Transactions</h6>
     <mat-icon (click)="showUpload = !showUpload">cloud_upload
     </mat-icon>
     <div *ngIf="showUpload">
       <form [formGroup]="form" (ngSubmit)="onSubmit()">
         <input type="file" name="avatar" (change)="onFileChange($event)" />
         <button type="submit">Upload</button>
       </form>
     </div>
     <!-- <button mat-raised-button color="primary" (click)="newExpense()">Add Expense</button> -->
   </mat-toolbar>
   <mat-card-content>
     <table>
       <tr *ngFor="let key of getGroupObjectKeys()">
         <td>{{key}}</td>
         <td>{{groups[key] | currency :'R'}}</td>
       </tr>
     </table>
   </mat-card-content>
 </mat-card>
