img {
  width: 100px;
  height: 100px;
}
.price {
  font-weight: bold;
  font-size: 12pt;
}

.dialog-header {
  display: flex;
  flex-direction: row;
  justify-items: start;
  justify-content: flex-end;
}
