<!-- Modal header -->
<div class="dialog-header">
  <button mat-button [mat-dialog-close]="item">
    <mat-icon>close</mat-icon>
  </button>
</div>
<!-- Modal content -->
<mat-card>
  <mat-card-header>
    {{ item.vendor.name }}
  </mat-card-header>
  <mat-card-content>
    <mat-dialog-content>
      <img [src]="item.picture" />
      <span class="price">R{{ item.price }}</span>
    </mat-dialog-content>
  </mat-card-content>
  <mat-card-footer>
    <span>{{ item.size }} {{ item.description }}</span>
  </mat-card-footer>
</mat-card>
<!-- Modal footer -->
<mat-dialog-actions>
  <button mat-button (click)="addToCart(item)">
    <fa-icon [icon]="['fas', 'cart-plus']"></fa-icon>
   </button>
  <button mat-button>
    <fa-icon [icon]="['fas', 'cash-register']"></fa-icon>
  </button>
</mat-dialog-actions>
