<div class="container" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="1px">
  <div class="section section-top" fxLayout="row" fxLayoutAlign="space-between">
    <mat-toolbar color="primary">
      <span class="fill-remaining-space">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item>
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </button>
          <a mat-menu-item href="#" [routerLink]="['/expenses']" routerLinkActive="router-link-active">
            <mat-icon>money</mat-icon>
            <span>Expenses</span>
          </a>
          <a mat-menu-item href="#" [routerLink]="['/transactions']" routerLinkActive="router-link-active">
            <mat-icon>grid_on</mat-icon>
            <span>Transactions</span>
          </a>
          <a mat-menu-item href="#" [routerLink]="['/dashboard']">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
          </a>
          <a mat-menu-item href="#" [routerLink]="['/notes']">
            <!-- <mat-icon>dashboard</mat-icon> -->
            <span>Notes</span>
          </a>
        </mat-menu>
      </span>
      <span class="fill-remaining-space">House Keeping</span>
    </mat-toolbar>
    <div class="custom-menu" fxShow="true" fxLayout="row" fxLayoutAlign="end start">
      <a *ngIf="cartSize > 0" href="#" [routerLink]="['/cart']" routerLinkActive="router-link-active">
        <fa-layers class="fa-fw">
          <fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon>
          <fa-layers-counter [content]="cartSize" class="fa-icon-counter"></fa-layers-counter>
        </fa-layers>

        <span class="link-label">Cart</span>
      </a>

      <a href="#" [routerLink]="['/login']" routerLinkActive="router-link-active">
        <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon>
        <span class="link-label">Login</span>
      </a>

      <a href="#" [routerLink]="['/register']" routerLinkActive="router-link-active">
        <fa-icon [icon]="['fas', 'user-plus']"></fa-icon>
        <span class="link-label">Register</span>
      </a>
    </div>
  </div>

  <div class="section section-center">
    <mat-card>
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxLayoutAlign="space-around" class="section section-bottom"></div>
</div>
