.container div {
  width: 100%;
}

.section-top {
  border-bottom: 1px solid grey;
  min-height: 20px;
}

.section-center {
  height: 85vh;
}

.section-bottom {
}

mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 60px;
  line-height: 36px;
  padding: 0 5px;
  border-radius: 4px;
  overflow: visible;
}
.mat-button,
.mat-icon-button,
.mat-stroked-button {
  color: inherit;
  background: 0 0;
}
.mat-button,
.mat-fab,
.mat-flat-button,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button,
.mat-stroked-button {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
}

.custom-menu {
  /* background: #c2185b; */
  background: #7b1fa2;
  padding: 4px;
  color: #fff;
  top: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-menu a {
  text-align: center;
  margin: 4px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.custom-menu a * {
  margin: 1px;
}
.link-label {
  font-size: 10px;
  font-weight: bold;
}
