<mat-card class="registration-form" fxLayout="column" fxLayoutAlign="center center">
  <form [formGroup]="registrationForm" fxLayout="column" fxLayoutAlign="center center">
    <table>
      <tr>
        <td>
          <mat-form-field>
            <input matInput formControlName="firstName" placeholder="First Name" required />
            <mat-error *ngIf="hasError('firstName', 'required')">
              FirstName is required
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input formControlName="lastName" matInput placeholder="Last Name" required />
            <mat-error *ngIf="hasError('lastName', 'required')">
              LastName is required
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input formControlName="idNumber" matInput placeholder="Id Number" required />
            <mat-error *ngIf="hasError('idNumber', 'required')">
              Id number is required
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          Title <br />
          <mat-radio-group formControlName="title">
            <mat-radio-button value="Mr">Mr</mat-radio-button>
            <mat-radio-button value="Ms">Ms</mat-radio-button>
            <mat-radio-button value="Mrs">Mrs</mat-radio-button>
          </mat-radio-group>
          <!-- <mat-error *ngIf="hasError('title', 'required')">
            Title is required
          </mat-error> -->
        </td>
      </tr>
      <br />
      <tr>
        <td>
          <label>Role: </label><br />
          <mat-radio-group formControlName="role">
            <mat-radio-button value="Shopper">Shopper</mat-radio-button>
            <mat-radio-button value="Store">Store</mat-radio-button>
             <!-- <mat-error *ngIf="hasError('role', 'required')">
              Role is required
            </mat-error> -->
          </mat-radio-group>
        </td>
      </tr>
      <tr *ngIf="registrationForm.get('role').value === 'Store'">
        <td>
          <mat-form-field>
            <mat-label>Choose retailer</mat-label>
            <mat-select formControlName="storeName" required>
              <mat-option *ngFor="let r of retailers" value="r.id">{{r.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="hasError('storeName', 'required')">
            Store name is required
          </mat-error>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input formControlName="cellNumber" matInput placeholder="Cell number" required />
            <mat-error *ngIf="hasError('cellNumber', 'required')">
              Contact number is required
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input formControlName="emailAddress" matInput placeholder="Email address" />
            <mat-error *ngIf="hasError('emailAddress', 'required')">
              Email address is required
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <form formGroupName="address" class="address" fxLayout="column" fxLayoutAlign="center end">
      <table>
        <tr>
          <td>
            <mat-form-field>
              <input formControlName="line1" matInput placeholder="Line 1 address" />
              <!-- <mat-error *ngIf="hasError('line1', 'required')">
                          Line 1 address is required
                        </mat-error> -->
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input formControlName="line2" matInput placeholder="Line 2 address" />
              <!-- <mat-error *ngIf="hasError('line1', 'required')">
                          Line 1 address is required
                        </mat-error> -->
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input formControlName="suburb" matInput placeholder="Suburb" />
              <!-- <mat-error *ngIf="hasError('suburb', 'required')">
                          Suburb is required
                        </mat-error> -->
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input formControlName="city" matInput placeholder="City" />
              <!-- <mat-error *ngIf="hasError('city', 'required')">
                          City is required
                        </mat-error> -->
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input formControlName="postalCode" matInput placeholder="Postal Code" />
              <!-- <mat-error *ngIf="hasError('province', 'required')">
                            Province is required
                          </mat-error> -->
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input formControlName="province" matInput placeholder="Province" />
              <!-- <mat-error *ngIf="hasError('province', 'required')">
                          Province is required
                        </mat-error> -->
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </form>
  <mat-card-actions>
    <mat-error *ngIf="submitted && registrationForm.invalid">
      Please fill all the required fields.
    </mat-error>
    <button mat-raised-button color="primary" (click)="register()">Register</button>
  </mat-card-actions>
</mat-card>
