<div class="chart-container">
  <div class="add-float-btn" (click)="addChartCard()">
    <fa-layers [fixedWidth]="true">
      <fa-icon [icon]="['fas', 'circle']" size="3x" style="color: blueviolet"></fa-icon>
      <fa-icon [icon]="['fas', 'plus']" size="3x" transform="shrink-6"></fa-icon>
    </fa-layers>

  </div>

  <div class="summary-pills" style="display: flex;flex-direction: row; justify-content: space-between">
    <div>
      <h4>Out</h4>
      <app-pill-container value="{{16000 | currency : 'R'}}" type="'danger'"></app-pill-container>
    </div>
    <div style="display: flex; flex-direction: column; justify-content: center">
      <h4> This Month End</h4>
    </div>
    <div>
      <h4 class="danger">Available
      </h4>
      <app-pill-container value="{{1200 | currency : 'R'}}"></app-pill-container>
    </div>
  </div>

  <div style="display: block" *ngIf="expenseChartData">
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
      <mat-form-field>
        <mat-label>Chat Type</mat-label>
        <mat-select [(value)]="chartType">
          <mat-option value="bar">Bar</mat-option>
          <mat-option value="pie">Pie</mat-option>
          <mat-option value="radar">Radar</mat-option>
          <mat-option value="doughnut">Doughnut</mat-option>
          <mat-option value="polarArea">PolarArea</mat-option>
          <mat-option value="line">Line</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>From</mat-label>
        <mat-select [(value)]="monthFilter" (valueChange)="monthFilterChanged()">
          <mat-option [value]="transactionMonths[month]" *ngFor="let month of transMonths">{{month}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <canvas baseChart [datasets]="expenseChartData" [labels]="expenseChartLabels" [chartType]="chartType"
      [legend]="false" [options]="expenseChartOptions"></canvas>
  </div>


  <div class="sub-cart" style="display: block" *ngIf="subChartData">
    <mat-form-field>
      <mat-label>Chat Type</mat-label>
      <mat-select [(value)]="subChartData.chartType">
        <mat-option value="bar">Bar</mat-option>
        <mat-option value="pie">Pie</mat-option>
        <mat-option value="radar">Radar</mat-option>
        <mat-option value="doughnut">Doughnut</mat-option>
        <mat-option value="polarArea">PolarArea</mat-option>
        <mat-option value="line">Line</mat-option>
      </mat-select>
    </mat-form-field>
    <canvas baseChart [datasets]="subChartData.data" [labels]="subChartData.labels" [chartType]="subChartData.chartType"
      [legend]="false" [options]="subChartData.options"></canvas>
  </div>

  <div #chartsSection></div>
</div>
