<mat-card>
  <div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%">
    <!-- <fa-icon  [icon]="['fas','long-arrow-alt-left']" style="color: blue; padding: 10px 0 0 0;"></fa-icon> -->
    <mat-icon style="color: blue; padding: -10px 0 0 0;">keyboard_backspace</mat-icon>
    <span>{{modalMessage}}</span>
  </div>
  <mat-card-content>
    <form [formGroup]="expenseForm">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Description" formControlName="description">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Category" formControlName="category">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Amount" formControlName="amount">
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="Start Date" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="End Date" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <button mat-raised-button color="primary" [disabled]="expenseForm.invalid" (click)="saveExpense()"
      *ngIf="!selectedExpense">Save</button>
    <button mat-raised-button color="primary" [disabled]="expenseForm.invalid" (click)="updateExpense()"
      *ngIf="selectedExpense">Update</button>
  </mat-card-footer>
</mat-card>
