<mat-card class="password-settiings" fxLayout="column" fxLayoutAlign="center center">

  <mat-card-content>
    <form [formGroup]="passwordSettingsForm" fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field>
        <input matInput formControlName="password" placeholder="Password" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="confirmPassword" placeholder="Confirm password" required>
        <mat-error *ngIf="passwordSettingsForm.get('confirmPassword').hasError('noMatch')">
          Passwords do not match
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="passCode" placeholder="Verrification Code" required>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="passwordSettingsForm.invalid" (click)="updatePassword()">Update password</button>
  </mat-card-actions>
</mat-card>
