/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


mat-dialog-actions{
  display: flex;
  flex-direction: row;
  justify-items: end;
  justify-content: space-between;
}
mat-toolbar{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.centered{
  width: 80%;
  margin: auto;
}

@media (max-width: 600px) {
  .centered{
     width: 100%;
     margin: 0;
  }
}

