<div fxLayout="column" fxLayoutAlign="start">

  <div class="browse-tools">
    <mat-toolbar fxLayout="row" fxLayoutAlign="end start">
      <button mat-button [matMenuTriggerFor]="dropDown">
        <mat-icon>filter_list</mat-icon>
        Filter <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <button mat-button>
        <mat-icon>search</mat-icon>
        Search
      </button>
      <mat-menu #dropDown="matMenu" overlapTrigger="false">
        <mat-form-field>
          <mat-label>By Retailer</mat-label>
          <mat-select [(ngModel)]="selectedRetailer"  (selectionChange)="byRetailer()"  >
            <mat-option *ngFor="let ret of retailers" [value]="ret">{{ret}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select [(ngModel)]="selectedCategory" (selectionChange)="byCategory()">
            <mat-option *ngFor="let cat of categories" [value]="cat">{{cat}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-menu>
    </mat-toolbar>
  </div>

  <div
    class="browse-content"
    fxLayout="row wrap"
    fxLayoutGap="10px"
    fxLayoutAlign="center"
  >
    <app-item *ngFor="let item of items" [item]="item"></app-item>
  </div>
</div>
