<div *ngIf="data">
  <mat-form-field>
    <mat-label>Chat Type</mat-label>
    <mat-select [(value)]="data.chartType">
      <mat-option value="bar">Bar</mat-option>
      <mat-option value="pie">Pie</mat-option>
      <mat-option value="radar">Radar</mat-option>
      <mat-option value="doughnut">Doughnut</mat-option>
      <mat-option value="polarArea">PolarArea</mat-option>
      <mat-option value="line">Line</mat-option>

    </mat-select>
  </mat-form-field>
  <div style="display: block">
    <canvas baseChart [datasets]="data.expenseChartData" [labels]="data.expenseChartLabels" [chartType]="data.chartType"
      [legend]="false" [options]="data.expenseChartOptions"></canvas>
  </div>
</div>
