.notes-actions,
.button-input {
    display: flex;
    flex-direction: row;
}

.button-input {
    width: 95%;
    justify-content: center;
}

.button-input input {
    width: 90%;
    margin: 0%;
    padding: 0%;
    border-right: 1px solid white;
    height: 35px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    padding-left: 4p;
    background-color: antiquewhite;
    border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;
}

button {
    font-weight: 600;
}

.button-input button {
    color: white;
    border: 4px solid #20bf6b;
    background-color: #20bf6b;
    padding: 0 10px 0 10px;
    height: 39px;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
}
.notes-list{
    max-height: 68vh;
    overflow-y: scroll;
}
.notes-actions {
    width: 100%;
    justify-self: center;
    justify-content: center;
}

.notes-actions button {
    margin: 10px;
    padding: 5px;
    border: 4px solid #20bf6b;
    border-radius: 4px;
    background-color: #20bf6b;
    color: white;
}

.custom-tool-bar{
    height: 30px;
    background: black;
    border: 1px solid darkslategray;
    margin-bottom: 5px;
    border-radius: 4px; 
}