<div class="custom-tool-bar">
  <a (click)="loadHistory()">History</a>
</div>

<div class="button-input">
  <input [(ngModel)]="note" type="text">
  <button (click)="addNote()">Add</button>
</div>
<div class="notes-list" *ngIf="!showHistory">
  <mat-selection-list #allNotes>
    <mat-list-option *ngFor="let note of notes">
      {{note}}
    </mat-list-option>
  </mat-selection-list>
</div>

<div *ngIf="showHistory">
  <mat-action-list>
    <li *ngFor="let hist of history" (click)="showHistoryItem(hist.id)">{{hist.name ? hist.name:hist.text}}</li>
  </mat-action-list>
</div>

<div class="notes-actions" *ngIf="notes.length >  0">
  <button class="clear-notes" (click)="clearAllNotes()">Clear All</button>
  <button class="save-notes" (click)="saveNotes()"> Save All</button>
</div>
